nav.navbar.navbar-default {
  margin-bottom: 10px;
}

.navbar {
  background-color: rgba(53,84,100, 0.7) !important;
  height: 70px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.navbar-brand {
  font-family: 'Luckiest Guy';
  font-size: 3rem;
  color: rgb(52,176,165) !important
}

li {
  margin-right: 20px;
  font-size: 1.2rem; 
}

li a {
  color: rgb(52,176,165)
}

li a:hover {
  color: rgb(82,206,195);
  text-decoration: none
}

@media only screen and (max-width: 992px) {
  .navbar-brand {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 571px) {
  .navbar-brand {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 425px) {
  .navbar-brand {
    font-size: 1rem;
  }
  li {
    margin-right: 20px;
    font-size: 0.9rem; 
  }
}
