.footer {
  background-color: rgba(53,84,100, 0.7) !important;
  position: relative;
}

.footer span {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(53,84,100, 0.7) !important;
  color: rgb(211,255,255)

}
